* {
    margin: 0;
    padding: 0;
}

#main-doc {
    margin-left: 380px;
    text-align: justify;
    margin-top: 30px;
    margin-right: 20px;
}

p {
    padding-top: 10px;
}

ul {
    margin-left: 80px;
}

ul li {
    padding-top: 15px;
}

.boxExam {
    background: rgb(231, 229, 229);
    /* height: 50px; */
    padding: 10px;
    position: relative;
    font-family: Calibri;
    font-size: 15px;
    border-radius: 5px;
}

#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 5;
    background: white;
    border: 1px solid;
    width: 350px;
    height: 100%;
    overflow: auto;
}

#navbar h2 {
    padding-left: 20px;
}

@media screen and (max-width:815px) {
    #navbar {
        width: 100%;
        height: 30%;
        position: absolute;
        overflow: auto;
    }
    #navbar h2 {
        text-align: center;
    }
    #main-doc {
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 40%;
    }
}